#subnav--agency.subnav
    .subnav__item
        a.subnav__link.subnav__link--active(data-action= clickActions.agency_about) ABOUT
    .subnav__item
        a.subnav__link(data-action= clickActions.agency_services) SERVICES
    .subnav__item
        h2(class="nav__link--side" data-action= clickActions.agency) AGENCY
    .subnav__item
        a.subnav__link(data-action= clickActions.agency_work) WORK
    .subnav__item
        a.subnav__link(data-action= clickActions.agency_team) TEAM
