#subnav--agency.subnav
    .subnav__item
        a.subnav__link.subnav__link--active(data-action= clickActions.subnav data-id="0") ABOUT
    .subnav__item
        a.subnav__link(data-action= clickActions.subnav data-id="1") SERVICES
    .subnav__item &nbsp;
    .subnav__item
        a.subnav__link(data-action= clickActions.subnav data-id="2") WORK
    .subnav__item
        a.subnav__link(data-action= clickActions.subnav data-id="3") TEAM
