#subnav--collection.subnav
    .subnav__item
        a.subnav__link.subnav__link--active(data-action= clickActions.subnav data-id="0") CAMPAIGN
    .subnav__item
        a.subnav__link(data-action= clickActions.subnav data-id="1") PRODUCTS
    .subnav__item &nbsp;
    .subnav__item
        a.subnav__link(data-action= clickActions.subnav data-id="2") STORY
    .subnav__item
        a.subnav__link(data-action= clickActions.subnav data-id="3") PRESS
