#subnav--collection.subnav
    .subnav__item
        a.subnav__link.subnav__link--active(data-action= clickActions.subnav data-id="0") CAM
    .subnav__item
        a.subnav__link(data-action= clickActions.subnav data-id="1") PRO
    .subnav__item &nbsp;
    .subnav__item
        a.subnav__link(data-action= clickActions.subnav data-id="2") ST
    .subnav__item
        a.subnav__link(data-action= clickActions.subnav data-id="3") PR
