#subnav--collection.subnav
    .subnav__item
        a.subnav__link.subnav__link--active(data-action= clickActions.subnav_0) CAMPAIGN
    .subnav__item
        a.subnav__link(data-action= clickActions.subnav_1) PRODUCTS
    .subnav__item
        h2(class="nav__link--side" data-action= clickActions.collection) COLLECTION
    .subnav__item
        a.subnav__link(data-action= clickActions.subnav_2) STORY
    .subnav__item
        a.subnav__link(data-action= clickActions.subnav_3) PRESS
