#subnav--collection.subnav
    .subnav__item
        a.subnav__link.subnav__link--active(data-action= clickActions.collection_campaign) CAMPAIGN
    .subnav__item
        a.subnav__link(data-action= clickActions.collection_products) PRODUCTS
    .subnav__item
        a.subnav__link(data-action= clickActions.collection_story) STORY
    .subnav__item
        a.subnav__link(data-action= clickActions.collection_press) PRESS
