- var n = 0
#about.slide(style=`top:${n++}00%;`)
    .row
        h5.row__headline Neuro Studio is a multidisciplinary creative agency.
#service.slide(style=`top:${n++}00%;`)
    .row
        h5.row__headline Our Services
    .row.row--lower
        .service
            h5 DESIGN
        .service
            h5 CREATIVE DIRECTION
        .service
            h5 DIGITAL
#work.slide(style=`top:${n++}00%;`)
    .col
        h5 SpaceX - Flight Suit
        p Deserunt sunt fugiat laborum esse reprehenderit proident fugiat pariatur nostrud proident sint do veniam sit. Do eu exercitation do voluptate quis laborum eu. Ea eiusmod anim nulla quis deserunt. Nostrud nisi do dolor incididunt nisi nisi voluptate sit ullamco. Sint non esse mollit cillum. Labore sit fugiat quis do ad duis culpa ullamco nostrud fugiat ipsum. Magna ipsum officia consectetur id velit ut quis ipsum non.
        p Quis aliquip cupidatat nostrud ut proident consectetur ullamco ullamco culpa laboris laborum deserunt et. Mollit sunt proident esse fugiat tempor qui sit quis ex. Ipsum nostrud ut consequat fugiat aliqua anim id minim velit officia id eiusmod. Velit exercitation elit elit duis tempor velit sit.
    .col--right
#team.slide(style=`top:${n++}00%;`)
    .slide__inner
        .staff
            .staff__photo
            .staff__name Clement Balavoine
            .staff__title FOUNDER / CCO
        .staff
            .staff__photo
            .staff__name Janis Sne
            .staff__title CREATIVE DIRECTOR
        .staff
            .staff__photo
            .staff__name Bianca Bennett
            .staff__title BUSINESS MANAGER
        .staff
            .staff__photo
            .staff__name Jeremy Hanover
            .staff__title DESIGNER
