- var n = 0
#about.slide(style=`top:${n++}00%`)
    include agency_slides/about
#service.slide(style=`top:${n++}00%`)
    include agency_slides/services
#work.slide(style=`top:${n++}00%`)
    include agency_slides/work
#team.slide(style=`top:${n++}00%`)
    include agency_slides/team