.content__inner--half
    .col
        h3 NEURO STUDIO
        p Incididunt sunt sint fugiat adipisicing nulla elit quis laboris ipsum dolor Lorem velit. Laborum eiusmod nostrud nostrud labore dolore. Sint mollit aliqua laboris proident do commodo cupidatat et aute non. Anim aute exercitation quis ut. Culpa aliquip nostrud cillum et cillum consequat.
        a.email contact@neuro-studio.com
        br
        a Instagram
        br
        a Facebook
    .col
        h3 NEW YORK CITY
        #clock.time 00:00:00
        #timezone.time EDT