#home.full
    video(playsinline autoplay muted loop poster="static/vid-a.jpg" class="video")
        source(src="static/vid-a.mp4" type="video/mp4")
        source(src="static/vid-a.webm" type="video/webm")