#home.video-wrap
    video(playsinline autoplay muted loop poster="media/vid-b.jpg" class="video")
        source(src="media/vid-b.mp4" type="video/mp4")
        source(src="media/vid-b.webm" type="video/webm")