#nav
    .nav--top
        h1(id="nav_home" class="link" data-action= clickActions.home) neuro
    .nav--left
        h2(id="nav_agency" class="link" data-action= clickActions.agency) AGENCY
    .nav--right
        h2(id="nav_collection" class="link" data-action= clickActions.collection) COLLECTION
    .nav--bottom
        h2(id="nav_contact" class="link" data-action= clickActions.contact) CONTACT