#nav
    #nav_home
        h1(data-action= clickActions.home) neuro
    #nav_agency
        h2(data-action= clickActions.agency) AGENCY
    #nav_collection
        h2(data-action= clickActions.collection) COLLECTION
    #nav_contact
        h2(data-action= clickActions.contact) CONTACT