#details
    #details__inner
        #product__image
        h3#product__title
        #product__info
            #info__toggles
                a.infotoggle.infotoggle--active DESCRIPTION
                a.infotoggle MATERIALS
            #info__text
            a#product__share SHARE
        #product__gallery
            #gallery__main
            #gallery__side
                .gallery__item.gallery__item--active
                .gallery__item
                .gallery__item
                .gallery__item
                #product__order PREORDER
