#details__inner
    a#product--prev.icon.icon-arrow-left(data-action= clickActions.product_next data-id= groups.NavDirection.prev)
    #turner(data-action= clickActions.product_turn)
        img#turner__img
    h2#product__name
    .toggles
        a.action.action--active(style="margin-right: 20px" data-action= clickActions.product_info data-id= groups.ProductInfo.description) DESCRIPTION
        a.action(data-action= clickActions.product_info data-id= groups.ProductInfo.materials) MATERIALS
    #product__info
    #product__share
        a.action(data-action= clickActions.product_share data-id= groups.SocialMedia.none) SHARE
        #share-buttons
            a.icon.icon-pinterest(data-action= clickActions.product_share data-id= groups.SocialMedia.pinterest)
            a.icon.icon-facebook(data-action= clickActions.product_share data-id= groups.SocialMedia.facebook)
            a.icon.icon-twitter(data-action= clickActions.product_share data-id= groups.SocialMedia.twitter)
    #product__gallery
        img#gallery__main
        .gallery__item
            img.gallery__thumb.gallery__thumb--active(data-action= clickActions.product_gallery data-id="0")
        .gallery__item
            img.gallery__thumb(data-action= clickActions.product_gallery data-id="1")
        .gallery__item
            img.gallery__thumb(data-action= clickActions.product_gallery data-id="2")
        .gallery__item
            img.gallery__thumb(data-action= clickActions.product_gallery data-id="3")
        a#product__order.action(data-action= clickActions.product_order) PREORDER
    a#product--next.icon.icon-arrow-right(data-action= clickActions.product_next data-id= groups.NavDirection.next)