#details__inner
    a#product--prev(data-action= clickActions.product_next data-id= groups.NavDirection.prev) <
    img#product__image
    h3#product__name
    a#product__close(data-action= clickActions.product_show data-id= "-1") x
    .toggles
        a.action.action--active(style="margin-right: 20px" data-action= clickActions.product_info data-id= groups.ProductInfo.description) DESCRIPTION
        a.action(data-action= clickActions.product_info data-id= groups.ProductInfo.materials) MATERIALS
    #product__info
    a#product__share.action(data-action= clickActions.product_share) SHARE
    #product__gallery
        img#gallery__main
        .gallery__item
            img.gallery__thumb.gallery__thumb--active(data-action= clickActions.product_gallery data-id="0")
        .gallery__item
            img.gallery__thumb(data-action= clickActions.product_gallery data-id="1")
        .gallery__item
            img.gallery__thumb(data-action= clickActions.product_gallery data-id="2")
        .gallery__item
            img.gallery__thumb(data-action= clickActions.product_gallery data-id="3")
        #product__order.action(data-action= clickActions.product_order) PREORDER
    a#product--next(data-action= clickActions.product_next data-id= groups.NavDirection.next) >