- var n = 0
.landing
    video(playsinline autoplay muted loop poster="media/vid-b.jpg" class="video")
        source(src="media/vid-b.mp4" type="video/mp4")
        source(src="media/vid-b.webm" type="video/webm")
    .content__inner--stack
        include s1_about
.slide(style=`top:${++n}00%`)
    .content__inner--stack
        include s2_services
.slide(style=`top:${++n}00%`)
    .content__inner--scroll
        include s3_work
.slide(style=`top:${++n}00%`)
    .content__inner--stack
        include s4_team
