- var n = 0
.slide(style=`top:${n++}00%`)
    include s1_about
.slide(style=`top:${n++}00%`)
    include s2_services
.slide(style=`top:${n++}00%`)
    include s3_work
.slide(style=`top:${n++}00%`)
    include s4_team