.col
    h2 SpaceX - Flight Suit
    p Deserunt sunt fugiat laborum esse reprehenderit proident fugiat pariatur nostrud proident sint do veniam sit. Do eu exercitation do voluptate quis laborum eu. Ea eiusmod anim nulla quis deserunt. Nostrud nisi do dolor incididunt nisi nisi voluptate sit ullamco. Sint non esse mollit cillum. Labore sit fugiat quis do ad duis culpa ullamco nostrud fugiat ipsum. Magna ipsum officia consectetur id velit ut quis ipsum non.
    p Quis aliquip cupidatat nostrud ut proident consectetur ullamco ullamco culpa laboris laborum deserunt et. Mollit sunt proident esse fugiat tempor qui sit quis ex. Ipsum nostrud ut consequat fugiat aliqua anim id minim velit officia id eiusmod. Velit exercitation elit elit duis tempor velit sit.
.col.col--right
    img(src="https://placeimg.com/480/640/animals")