- var n = 0
.slide(style=`top:${n++}00%`)
    include s1_campaign
.slide(style=`top:${n++}00%`)
    include s2_products
.slide(style=`top:${n++}00%`)
    include s3_story
.slide(style=`top:${n++}00%`)
    include s4_press