- var n = 0
.video-wrap
    video(playsinline autoplay muted loop poster="media/vid-c.jpg" class="video")
        source(src="media/vid-c.mp4" type="video/mp4")
        source(src="media/vid-c.webm" type="video/webm")
.landing
    .content__inner
        include s1_campaign
.slide(style=`top:${++n}00%`)
    .content__inner
        include s2_products
.slide(style=`top:${++n}00%`)
    .content__inner
        include s3_story
.slide(style=`top:${++n}00%`)
    .content__inner
        include s4_press
