- var n = 0
- var productCount = 10
- var filters = ["DRESS", "ACCESSORIES", "JACKETS", "PANTS", "TOPS", "SHOES"]

#filters
    .filter--active(data-action= clickActions.filter data-id= 0) ALL
    each filter, i in filters
        .filter(data-action= clickActions.filter data-id= i+1)= filter

.grid
    while n < productCount
        a.grid__item
            img(src="media/images/p" + (1+n) + "_thumb.jpg" data-action= clickActions.product_show data-id= n++)
