.slide__text
    h2.slide__title 2019 - SOLVENTUS
    p Nulla ullamco quis aute labore reprehenderit cupidatat sit. Duis officia excepteur pariatur adipisicing nisi consectetur nisi. Pariatur veniam nostrud qui exercitation consectetur.
    p Consequat ex mollit quis amet nulla labore nisi eu esse. Reprehenderit nisi aliqua fugiat nisi. Culpa ad aliqua incididunt qui est laborum irure. In irure laborum laboris aute irure incididunt qui tempor sit pariatur sint enim aliquip.
    p Reprehenderit aliquip duis consectetur mollit elit non consequat velit sit excepteur culpa. Voluptate est eu eu voluptate ex cillum esse non sit. Tempor aliqua aliquip culpa esse veniam tempor esse nostrud ad officia. Velit laboris cillum sit occaecat cupidatat irure tempor commodo.
.slide__img
.slide__img
.slide__img