.grid
    .grid__item--wide
    .grid__item
    .grid__item
    .grid__item
    .grid__item
    .grid__item
    .grid__item--wide
    .grid__item--wide
    .grid__item
    .grid__item
    .grid__item