.about {
    position: absolute;
    max-width: 50rem;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    font-size: 2rem;
    line-height: 2.5rem;
    z-index: 1;
    text-align: center;
}

.service {
    font-weight: 500;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.4rem;
}

.staff {
    display: inline-block;
    padding: 12px;
}

.staff__photo {
    background: #ccc;
    height: $width--staff__photo;
    width: $width--staff__photo;
}

.staff__name {
    @extend %type--staff__name;
    margin-top: 16px;
}

.staff__title {
    @extend %type--staff__title;
}