$width__product-thumb: 140px;

#products {
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    grid-template-rows: $width__product-thumb $width__product-thumb $width__product-thumb;

}

.product-thumb {
    width: $width__product-thumb;
    height: $width__product-thumb;
    border: 1px solid #333;
    cursor: pointer;
}
