#filters {
    text-align: right;
}

.filter {
    display: inline-block;
    padding: 2px 14px;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.filter--active {
    @extend .filter;
    border-top: 1px solid;
}

.press__author {
    text-transform: uppercase;
    display: inline-block;
}

.press__publication {
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}