#contact {
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    background: $background__contact;
    overflow-y: auto;
}

.contact__inner {
    position: relative;
    width: 1000px;
    max-width: 100%;
    height: 100%;
    margin: $height__nav auto;
    box-sizing: border-box;
}

.close {
    position: absolute;
    top: 60px;
    right: 60px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.time {
    font-size: $font-size__time;
    font-weight: 200;
    display: inline-block;
}

#clock {
    /* setting fixed width so "EDT/EST" doesnt move as time updates */
    width: 148px;
}