#contact {
    position: fixed;
    top: $height__nav;
    left: 0;
    right: 0;
    bottom: 0;
    background: $background__contact;
    overflow-y: auto;
}

.close {
    position: absolute;
    top: 60px;
    right: 60px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.time {
    font-size: $font-size__time;
    font-weight: 200;
    display: inline-block;
}

#clock {
    /* setting fixed width so "EDT/EST" doesnt move as time updates */
    width: 148px;
}