#contact {
    position: fixed;
    top: $height--nav;
    left: 0;
    right: 0;
    bottom: 0;
    background: $blue--gradient;
    overflow-y: auto;
}

.close {
    position: absolute;
    top: 45px;
    right: 45px;
    cursor: pointer;
}

.time {
    display: inline-block;
    font-size: 4rem;
}

#clock {
    /* setting fixed width so "EDT/EST" doesnt move as time updates */
    width: 16.5rem;
    font-size: 4rem;
    letter-spacing: 0.1em;
    margin-top: 10px;
}
