.full {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#wrap {
    @extend .full;
    display: none;
    background: $background;
}

#content {
    @extend .full;
    will-change: transform;
    -ms-overflow-style: none;
}

.video-wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
    transform: translate3d(0,0,0); /* helps keep contact link from getting hidden */
}


.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #333;
}

.content--col {
    display: flex;
    flex-direction: column;
}

.content__inner {
    width: $width--content;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: $height--nav;
    position: absolute;
    top: 0;
}

.content__inner--half {
    @extend .content__inner;
    display: flex;
    justify-content: space-around;
}

.content__inner--stack {
    @extend .content__inner;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content__inner--scroll {
    @extend .content__inner;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    will-change: transform;
}

.col {
    width: $width--col;
    margin-right: $width--col__gap;
    flex-shrink: 0;
    padding-top: 100px;
}

.slide__img {
    height: 100%;
    background: gray;
    margin-right: 50px;
}



.grid {
    display: grid;
    grid-template-rows: repeat(3, $height--grid__item);
    grid-gap: $width--grid__item__gap;
    grid-auto-flow: column;
    justify-content: left;
    grid-auto-columns: $width--grid__item;
    overflow-x: auto;
    overflow-y: hidden;
}

.grid__item {
    width: $width--grid__item;
    height: $height--grid__item;
    background: gray;
}

.grid__item--wide {
    width: $width--grid__item--wide;
    height: $height--grid__item;
    background: gray;
}




@media only screen and (max-width: $breakpoint-1) {
    .col {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: $breakpoint-2) {
    .col {
        padding: $padding__col 0;
    }
}
