@import "vars";
@import "typography";
@import "layout";
@import "nav";
@import "contact";
@import "agency";
@import "productDetails";


html {
  box-sizing: border-box;
}

body {
    user-select: none;
    min-width: $width--content--min;
}

img, video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar { display: none; }

*, *:before, *:after {
  box-sizing: inherit;
}
