@import "vars";
@import "typography";
@import "nav";
@import "contact";

#wrap {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    display: none;
}

#content {
    position: absolute;
    top: $height__nav;
    bottom: $height__nav;
    left: $height__nav;
    right: $height__nav;
}

.content__inner {
    width: $width__content;
    max-width: 100%;
    margin: 0 auto;
}

.slide {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid;
    position: absolute;
}
