@import "vars";
@import "typography";
@import "nav";
@import "contact";
@import "agency";
@import "collection";
@import "video";
@import "productDetails";


html {
  box-sizing: border-box;
}

body {
    user-select: none;
    min-width: $width__content--min;
}

img {
    max-height: 100%;
}

::-webkit-scrollbar { display: none; }

*, *:before, *:after {
  box-sizing: inherit;
}

#wrap {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    display: none;
    background: $background;
}

#content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -ms-overflow-style: none;
}

.landing {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5); /* debug */
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $background;
    border-bottom: 1px solid #333;
}

.content__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: $width__content;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;

    &.alt {
        flex-direction: column;
    }
}

.col {
    width: 50%;
    height: 100%;
}

@media only screen and (max-width: $breakpoint-1) {
    .col {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: $breakpoint-2) {
    .col {
        padding: $padding__col 0;
    }
}