@import "vars";
@import "typography";
@import "nav";
@import "contact";

#content {
    position: fixed;
    top: $height__nav;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    display: none;
}

.content__inner {
    width: $width__content;
    max-width: 100%;
    margin: 0 auto;
}

.slide {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid;
    position: absolute;
}
