@import "vars";
@import "typography";
@import "nav";
@import "contact";
@import "agency";
@import "collection";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    user-select: none;
    min-width: $width__content--min;
}

::-webkit-scrollbar { display: none; }

img {
    max-height: 100%;
}

#wrap {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    display: none;
    background: $background;
}

#content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -ms-overflow-style: none;
}

.content__inner {
    width: $width__content;
    max-width: 100%;
    margin: 0 auto;
}

.slide {
    position: absolute;
    left: $height__nav;
    right: $height__nav;
    padding: $height__nav 0;
}

.slide__inner {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.row {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50%;
}

.row--lower {
    bottom: 0;
}

.row__headline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.col {
    position: absolute;
    width: 50%;
    height: 100%;
    max-height: 100%;
    padding: $padding__col;
    overflow-y: auto;
}

.col--right {
    left: 50%;
}

.video-wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

#home {
    background: url(/media/vid-a.jpg) no-repeat;
}

@media only screen and (max-width: $breakpoint-1) {
    .col {
        width: 100%;
        height: auto;
        position: relative;
        left: 0;
    }
}

@media only screen and (max-width: $breakpoint-2) {
    .col {
        padding: $padding__col 0;
    }
}