@import "vars";
@import "typography";
@import "nav";
@import "contact";
@import "agency";

body {
    user-select: none;
    min-width: $width__content--min;
}

::-webkit-scrollbar { display: none; }

#wrap {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    display: none;
}

#content {
    position: absolute;
    top: $height__nav;
    bottom: $height__nav;
    left: $height__nav;
    right: $height__nav;
    -ms-overflow-style: none;
}

.content__inner {
    width: $width__content;
    max-width: 100%;
    margin: 0 auto;
}

.slide {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid;
    position: absolute;
}

.slide__inner {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.row {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50%;
}

.row--lower {
    bottom: 0;
}

.row__headline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.col {
    position: absolute;
    width: 50%;
    height: 100%;
    max-height: 100%;
    padding: 0 $padding__col $padding__col;
    box-sizing: border-box;
    overflow-y: auto;
}

.col--right {
    left: 50%;
}

@media only screen and (max-width: $breakpoint-1) {
    .col {
        width: 100%;
        height: auto;
        position: relative;
        left: 0;
    }
}

@media only screen and (max-width: $breakpoint-2) {
    .col {
        padding: 0 0 $padding__col;
    }
}