#nav_home {
    display: block;
    height: $height__nav;
    width: $width__nav-link;
    background: url(/media/Neuro-logo.png) no-repeat;
    background-size: contain;
    background-position-y: center;
}

.nav--top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $height__nav;
}

.nav--left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $height__nav;
}

.nav--right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: $height__nav;
}

.nav--bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: $height__nav;
}

.nav__link {
    cursor: pointer;
    line-height: $height__nav;
    width: $width__nav-link;
    margin: 0 auto;
    text-align: center;

    &:hover {
        color: $font-color__link--hover;
    }
}

.nav__link--side {
    cursor: pointer;
    margin: 0;

    &:hover {
        color: $font-color__link--hover;
    }

    &.nav__link--active {
        cursor: default;
        color: $font-color__link--active;
        font-weight: 700;
        font-size: 0.7rem;
    }
}

.subnav {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    top: 50%;
    transform: rotate(-90deg) translateY(-175px);
    transform-origin: bottom;
    font-size: $font-size__subnav;
    width: 460px;
}

.subnav__item {
    width: 20%;
    text-align: center;
}

.subnav__link {
    font-size: 0.4rem;
    font-weight: 200;
    letter-spacing: 0.25em;
    padding: 2px 2px 2px 4px;
    cursor: pointer;
    display: block;

    &:hover {
        color: $font-color__link--hover;
    }

    &.subnav__link--active {
        color: $font-color;
        cursor: default;
        border-bottom: 0.1px solid white;
    }
}