.rotate {
    position: absolute;
    top: 50%;
    transform-origin: left center;
    transform: rotate(-90deg);
}

.nav--top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $height__nav;
}

.nav--left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $height__nav;
}

.nav--right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: $height__nav;
}

.nav--bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: $height__nav;
}

#nav {
    position: fixed;
    user-select: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.nav__link {
    cursor: pointer;
    line-height: $height__nav;
    width: $width__nav-link;
    margin: 0 auto;
    text-align: center;

    &:hover {
        color: $font-color__link--hover;
    }
}

.nav__link--side {
    @extend .nav__link;
    position: absolute;
    left: calc($width__nav-link/-2);
    background: $background;

    &.nav__link--active {
        cursor: default;
        color: $font-color__link--active;
        font-weight: 700;
        font-size: 0.7rem;
    }
}

.subnav {
    position: absolute;
    text-align: center;
    font-size: $font-size__subnav;
    left: calc($width__subnav__item / -2);
}

.subnav__item {
    position: absolute;
    display: block;
    width: $width__subnav__item;
    height: $height__nav;
    line-height: $height__nav;
}

.subnav__link {
    font-size: 0.4rem;
    font-weight: 200;
    letter-spacing: 0.25em;
    padding: 2px 2px 2px 4px;
    cursor: pointer;
    background: $background;

    &:hover {
        color: $font-color__link--hover;
    }

    &.subnav__link--active {
        color: $font-color;
        cursor: default;
        border-bottom: 0.1px solid white;
    }
}