%rotate90 {
    position: absolute;
    top: 50%;
    left: calc($height__nav / 2);
    transform-origin: left center;
    transform: rotate(-90deg);
}

.nav--top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $height__nav;
}

.nav--left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $height__nav;
}

.nav--right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: $height__nav;
}

.nav--bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: $height__nav;
}

#nav {
    position: fixed;
    user-select: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

#nav_home {
    width: 150px;
    margin: 0 auto;
}

#nav_contact {
    width: 150px;
    margin: 0 auto;
}

#nav_agency {
    @extend %rotate90;
}

#nav_collection {
    @extend %rotate90;
}