#logo {
    display: block;
    height: $height--nav;
    width: $width--logo;
    background: url(/media/logo.png) no-repeat;
    background-size: contain;
    background-position-y: center;
}

#nav--top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $height--nav;
}

#nav--left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $height--nav;
}

#nav--right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: $height--nav;
}

#nav--bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: $height--nav;
}

%contactLink {
    bottom: 2.4em;
    left: 50%;
    width: 8em;
    margin-left: -4em;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 0.15em;
}

#nav--contact {
    @extend %contactLink;
    position: fixed;
}

#contact--agency, #contact--collection {
    @extend %contactLink;
    visibility: hidden;
    position: absolute;
}

.nav__link {
    @extend %type--nav__link;
    width: $width--nav-link;
    margin: 0 auto;
    display: block;

    &:hover {
        color: $font-color--link--hover;
    }
}

.nav__link--side {
    @extend %type--nav__link;
    position: absolute;
    top: 50%;
    width: 100px;
    transform: rotate(-90deg);
    transform-origin: bottom;
    text-align: center;

    &:hover {
        color: $font-color--link--hover;
    }

    &.nav__link--active {
        @extend %type--nav__link--active;
        cursor: default;
    }
}

.subnav {
    @extend %type--nav__subnav;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    width: $height--content;
    top: 50%;
    transform: rotate(-90deg) translateY(-300px) scaleX(0);
    transform-origin: bottom;
    transition: transform 350ms cubic-bezier(0.5, -0.25, 0.25, 1.5);
}

.subnav__item {
    width: 20%;
    text-align: center;
}


.subnav__link {
    padding: 2px 2px 2px 4px;
    cursor: pointer;
    display: block;

    &:hover {
        color: $font-color--link--hover;
    }

    &.subnav__link--active {
        color: $font-color;
        cursor: default;
        border-bottom: 0.1px solid white;
    }
}
