#details {
    position: fixed;
    top: $height--nav;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
}

#details__inner {
    width: $width--details;
    height: $height--details;
    max-width: 100%;
    margin: $height--details__margin auto 0;
    display: grid;
    grid-template-columns: [margin--1] $width--details__margin--1 [col--1] $width--details__col--1 [gutter] $width--details__col--gap [col--2] $width--details__text [text-end]
    $width--details__text--end [margin--2] $width--details__margin--2;
    grid-template-rows: [title] $height--details__title [toggles] $height--details__toggles [info] $height--details__info [share] $height--details__share [gallery] $height--details__gallery;
}

#product--prev {
    grid-column-start: 1;
    grid-column-end: col--1;
    grid-row-start: title;
    grid-row-end: -1;
    align-self: center;
}

#product--next {
    grid-column-start: margin--2;
    grid-column-end: -1;
    grid-row-start: title;
    grid-row-end: -1;
    align-self: center;
    text-align: right;
}

#product__close {
    grid-column-start: margin--2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: right;
}

#product__image {
    grid-column-start: col--1;
    grid-column-end: gutter;
    grid-row-start: title;
    grid-row-end: -1;
}

#product__name {
    grid-column-start: col--2;
    grid-column-end: margin--2;
    grid-row-start: title;
    grid-row-end: toggles;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.toggles {
    grid-column-start: col--2;
    grid-column-end: text-end;
    grid-row-start: toggles;
    grid-row-end: info;
}

#product__info {
    grid-column-start: col--2;
    grid-column-end: text-end;
    grid-row-start: info;
    grid-row-end: gallery;
    font-size: 0.6rem;
}

#product__share {
    grid-column-start: col--2;
    grid-column-end: text-end;
    grid-row-start: share;
    grid-row-end: gallery;
}

#product__gallery {
    grid-column-start: col--2;
    grid-column-end: margin--2;
    grid-row-start: gallery;
    grid-row-end: -1;
    display: grid;
    grid-template-columns: $width--gallery__img $width--gallery__thumb;
    grid-template-rows: $height--gallery__thumb $height--gallery__thumb $height--gallery__thumb $height--gallery__thumb $height--gallery__order;
    grid-column-gap: $width--gallery__gap;
    grid-row-gap: $height--gallery__gap;
}

#gallery__main {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;
}

.gallery__item {
    grid-column-start: 2;
    grid-column-end: -1;
    background: $blue;
}

.gallery__thumb {
    opacity: 0.7;

    &:hover {
        opacity: 0.9;
    }

    &.gallery__thumb--active {
        opacity: 1;
    }
}

#product__order {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 5;
    grid-row-end: -1;
    border: 1px solid white;
    text-align: center;
    line-height: 40px;
}

.action {
    @extend %type--details__button;
    padding-top: 4px;
    display: inline-block;
}

.action--active {
    border-top: 1px solid;
}

.msg {
    cursor: default;
    background: #777;
}

#share-buttons {
    display: inline-block;
    visibility: hidden;
}