@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');

body {
    margin: 0;
    background-color: $background;
    font-family: $font-family;
    color: $font-color;
}

h1 {
    font-size: 1rem;
    letter-spacing: 1.35em;
    font-weight: 300;
}

h2 {
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.2em;
}

h3 {
    font-weight: 700;
    font-size: 2.2rem;
    letter-spacing: 0.08em;
}

h4 {
    font-size: 2rem;
    letter-spacing: 0.04em;
    font-weight: 700;
}

.link {
    cursor: pointer;
    padding: $padding__nav-link;

    &:hover {
        color: $font-color__link--hover;
    }

    &--active {
        color: $font-color__link--active;
        font-weight: 700;
        font-size: 0.7rem;
    }
}

/* in contact form */
.time {
    font-size: $font-size__time;
    font-weight: 200;
    display: inline-block;
}