/*********
 * measurement
 *********/

$width__content: 1366px;

$height__nav: 75px;
$width__nav-link: 150px;
$padding__nav-link: 25px;

$height__contact: 500px;
$padding__contact: 35px 40px;

$padding__col: 50px;

/*********
 *type
 *********/

/* font */
$font-family: 'Hind', sans-serif;
/* font color */
$font-color: white;
$font-color__link--hover: #6bbdff;
$font-color__link--active: blue;
/* font size */
$font-size__nav: 1rem;
$font-size__time: 2.8rem;

/*********
 * color
 *********/
$background: black;
$background__contact: blue;


/*********
 * breakpoints
 *********/
$breakpoint-1: 600px;