/*********
 * measurement
 *********/

$height__nav: 75px;
$width__nav-link: 150px;
$padding__nav-link: 25px;

/*********
 *type
 *********/

/* font */
$font-family: 'Open Sans', sans-serif;
/* font color */
$font-color: white;
$font-color__link--hover: #0070ff;
$font-color__link--active: blue;
/* font size */
$font-size__nav: 1rem;


/*********
 * color
 *********/
$background: black;