/*********
 * color
 *********/
$blue: #0600ff;
$blue--gradient: linear-gradient(to bottom, rgba(6,0,255,0.8) 0%,rgba(6,0,255,1) 100%);
$background: black;


/*********
 *type
 *********/
/* font color */
$font-color: white;
$font-color--link--hover: #bcbcbc;
$font-color--link--active: $blue;
/* font size */
$font-size--nav: 1.25rem;
$font-size--title: 2rem;
$font-size--body: 1rem;
$font-size--link: 0.75rem;
$font-size--headline: 3.25rem;
$font-size--team__name: 1.4rem;
$font-size--clock: 3rem;


/*********
 * measurement
 *********/
 /* layout */
$width--content: 1400px;
$width--content--min: 300px;

$height--content: 700px;

$height--grid__item: 193px;
$width--grid__item: 193px;
$width--grid__item--wide: 394px;
$width--grid__item__gap: 10px;

$width--col: 400px;
$width--col__gap: 50px;

$padding__col: 50px;

/* nav */
$height--nav: 100px;
$width--nav-link: 120px;
$width--logo: 186px;

/* agency/staff */
$width--staff__photo: 140px;

/* product details */
$width--gallery__img: 400px;
$width--gallery__thumb: 200px;
$width--gallery__gap: 4px;
$height--gallery__thumb: 80px;
$height--gallery__order: 50px;
$height--gallery__gap: 4px;

$width--details__margin--1: 70px;
$width--details__col--1: 500px;
$width--details__col--gap: 100px;
$width--details__col--2: 600px;
$width--details__text: 480px;
$width--details__margin--2: 70px;

$height--details__margin: 50px;
$height--details__title: 70px;
$height--details__toggles: 50px;
$height--details__info: 80px;
$height--details__share: 40px;
$height--details__gallery: 390px;


/*********
 * breakpoints
 *********/
$breakpoint-1: 600px;
$breakpoint-2: 420px;


/* calculated measurements */
$width--details__gallery: calc($width--gallery__img + $width--gallery__thumb);
$width--details: calc($width--details__margin--1 + $width--details__col--1 + $width--details__col--gap + $width--details__col--2 + $width--details__margin--2);
$height--details: calc($height--details__title + $height--details__toggles + $height--details__info + $height--details__share + $height--details__gallery);
$width--details__text--end: calc($width--details__col--2 - $width--details__text);
