.slide__inner
    .staff
        img.staff__photo
        .staff__name Clement Balavoine
        .staff__title FOUNDER / CCO
    .staff
        img.staff__photo
        .staff__name Janis Sne
        .staff__title CREATIVE DIRECTOR
    .staff
        img.staff__photo
        .staff__name Bianca Bennett
        .staff__title BUSINESS MANAGER
    .staff
        img.staff__photo
        .staff__name Jeremy Hanover
        .staff__title DESIGNER
